<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <div class="user-section">
          <div class="profile-picture">
      
          </div>
          <p>{{user() ? user()?.firstName + " " + user()?.lastName : "Unknown user"}}</p>
        </div>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <div class="streak-section">
          <ion-icon src="assets/app-icons/streak-icon.svg"></ion-icon>
        </div>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
