
ion-header, ion-footer {
  box-shadow: none;
}

ion-toolbar {
  --background: transparent !important;
    background: transparent !important;
  --border-width: 0;
}

ion-buttons ion-button {
  font-weight: 900;
  font-size: 18px;
}

.user-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 40px;
}

.avatar-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.initials {
  font-size: 60px;
  font-weight: 600;
  color: #333;
}

.name {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}

.email {
  margin-top: 6px;
  color: #666;
}
