ion-header {
  --background: transparent;
  --ion-background-color: transparent;
}

ion-toolbar {
  --background: transparent;
  --ion-toolbar-background: transparent;
}

.toolbar-background {
  --background: transparent;
}


.user-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 40px;
}

.avatar-circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.initials {
  font-size: 40px;
  font-weight: 600;
  color: #333;
}

.name {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}

.email {
  margin-top: 6px;
  color: #666;
}
