
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="start" name="back"></ion-icon>
        Back
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end"></ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="user-info-container">
    <div class="avatar-circle" aria-label="User initials">
      <span class="initials">{{ user() ? (user()?.firstName?.charAt(0) + (user()?.lastName?.charAt(0) ?? '') )?.toUpperCase() : '?' }}</span>
    </div>

    <h2 class="name">{{ user() ? user()?.firstName : '' }} {{ user() ? user()?.lastName : '' }}</h2>
    <p class="email">{{ user() ? user()?.email : '' }}</p>
  </div>
  <div class="stats">
    <div class="stat-box">
      <span class="stat-value">{{ getTotalSessionsNumber() }}</span>
      <span class="stat-label">Total sessions</span>
    </div>
    <div class="stat-box">
      <span class="stat-value">{{ getTotalExerciseHours() }}</span>
      <span class="stat-label">Hours exercised</span>
    </div>
    <div class="stat-box">
      <span class="stat-value">{{ getWeeklyStreak() }}</span>
      <span class="stat-label">Weekly streak</span>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-button class="logout-button" expand="block" (click)="logout()">
    Logout
    <ion-icon slot="end" name="logout"></ion-icon>
  </ion-button>
</ion-footer>
